@model WorkplaceOfSecretary.Models.Group

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление группы</h2>
<p class="error">@ViewBag.ErrorMessage</p>
<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Специальность:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialty.NameOfSpecialty)
        </dd>

        <dt>
            @Html.DisplayName("Номер группы:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfGroup)
        </dd>

        <dt>
            @Html.DisplayName("Консультанты:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComissionMembers)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="edit-btn-group">
        @Html.ActionLink("К списку групп", "Index", "Group", null, new { @class = "btn btn-default btn-radius"})
        <input type="submit" value="Delete" class="btn btn-danger btn-radius" />
    </div>
    }
</div>
