@model IEnumerable<WorkplaceOfSecretary.Models.Group>

@{
    ViewBag.Title = "Index";
}

<h2>Список групп</h2>

<p>
    @Html.ActionLink("Добавить группу", "Create", "Group", null, new { @class = "btn btn-success btn-radius"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Номер группы")
        </th>
        <th>
            @Html.DisplayName("Специальность")
        </th>
        <th>
            @Html.DisplayName("Консультанты")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialty.NameOfSpecialty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComissionMembers)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", "Group", new { id = item.ID }, new { @class = "btn btn-default btn-radius" })
            @Html.ActionLink("Подробнее", "Details", "Group", new { id = item.ID }, new { @class = "btn btn-default btn-radius" })
            @Html.ActionLink("Удалить", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-radius" })
        </td>
    </tr>
}

</table>
