@model WorkplaceOfSecretary.Models.Committee

@{
    ViewBag.Title = "Details";
}

<h2>Информация о комиссии</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("ГЭК")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seb.NameOfSEB)
        </dd>

        <dt>
            @Html.DisplayName("Председатель")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chairperson.LastName)
            @Html.DisplayFor(model => model.Chairperson.FirstName)
            @Html.DisplayFor(model => model.Chairperson.Patronymic)
        </dd>

        <dt>
            @Html.DisplayName("Секретарь")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Secretary.LastName)
            @Html.DisplayFor(model => model.Secretary.FirstName)
            @Html.DisplayFor(model => model.Secretary.Patronymic)
        </dd>

        <dt>
            @Html.DisplayName("Член комисси")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberOne.LastName)
            @Html.DisplayFor(model => model.MemberOne.FirstName)
            @Html.DisplayFor(model => model.MemberOne.Patronymic)
        </dd>

        <dt>
            @Html.DisplayName("Член комисси")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberTwo.LastName)
            @Html.DisplayFor(model => model.MemberTwo.FirstName)
            @Html.DisplayFor(model => model.MemberTwo.Patronymic)
        </dd>

        <dt>
            @Html.DisplayName("Член комисси")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberThree.LastName)
            @Html.DisplayFor(model => model.MemberThree.FirstName)
            @Html.DisplayFor(model => model.MemberThree.Patronymic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("К списку комиссий", "Index", "Committee", null, new { @class = "btn btn-default btn-radius" })
    @Html.ActionLink("Изменить", "Edit", "Committee", new { id = Model.ID }, new { @class = "btn btn-default btn-radius" })
</p>
