@model IEnumerable<WorkplaceOfSecretary.Models.Committee>

@{
    ViewBag.Title = "Index";
}

<h2>Список комиссий</h2>

<p>
    @Html.ActionLink("Добавить комиссию", "Create", "Committee", null, new { @class = "btn btn-success btn-radius" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ГЭК")
        </th>
        <th>
            @Html.DisplayName("Председатель")
        </th>
        <th>
            @Html.DisplayName("Секретарь")
        </th>
        <th>
            @Html.DisplayName("Член комисси")
        </th>
        <th>
            @Html.DisplayName("Член комисси")
        </th>
        <th>
            @Html.DisplayName("Член комисси")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Seb.NameOfSEB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chairperson.LastName)
            @Html.DisplayFor(modelItem => item.Chairperson.FirstName)
            @Html.DisplayFor(modelItem => item.Chairperson.Patronymic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Secretary.LastName)
            @Html.DisplayFor(modelItem => item.Secretary.FirstName)
            @Html.DisplayFor(modelItem => item.Secretary.Patronymic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberOne.LastName)
            @Html.DisplayFor(modelItem => item.MemberOne.FirstName)
            @Html.DisplayFor(modelItem => item.MemberOne.Patronymic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberTwo.LastName)
            @Html.DisplayFor(modelItem => item.MemberTwo.FirstName)
            @Html.DisplayFor(modelItem => item.MemberTwo.Patronymic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberThree.LastName)
            @Html.DisplayFor(modelItem => item.MemberThree.FirstName)
            @Html.DisplayFor(modelItem => item.MemberThree.Patronymic)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", "Committee", new { id = item.ID }, new { @class = "btn btn-default btn-radius" })
            @Html.ActionLink("Подробнее", "Details", "Committee", new { id = item.ID }, new { @class = "btn btn-default btn-radius" })
            @Html.ActionLink("Удалить", "Delete", "Committee", new { id = item.ID }, new { @class = "btn btn-danger btn-radius" })
        </td>
    </tr>
}

</table>
