@model WorkplaceOfSecretary.Models.Meeting

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление заседания</h2>
<p class="error">@ViewBag.ErrorMessage</p>
<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("ГЭК:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seb.NameOfSEB)
        </dd>

        <dt>
            @Html.DisplayName("Дата:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="edit-btn-group">
        @Html.ActionLink("К списку заседаний", "Index", "Meeting", null, new { @class = "btn btn-default btn-radius" })
        <input type="submit" value="Удалить" class="btn btn-danger btn-radius" />
    </div>
    }
</div>
