@model IEnumerable<WorkplaceOfSecretary.Models.Meeting>

@{
    ViewBag.Title = "Index";
}

<h2>Список заседаний</h2>

<p>
    @Html.ActionLink("Добавить заседание", "Create", "Meeting", null, new { @class = "btn btn-success btn-radius" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ГЭК")
        </th>
        <th>
            @Html.DisplayName("Дата")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Seb.NameOfSEB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", "Meeting", new { id=item.ID }, new { @class = "btn btn-default btn-radius" })
            @Html.ActionLink("Подробнее", "Details", "Meeting", new { id=item.ID }, new { @class = "btn btn-default btn-radius" })
            @Html.ActionLink("Удалить", "Delete", "Meeting", new { id=item.ID }, new { @class = "btn btn-danger btn-radius" })
        </td>
    </tr>
}

</table>
