@model WorkplaceOfSecretary.Models.Protocol

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Protocol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Leader.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leader.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meeting.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meeting.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastNameInDative)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastNameInDative)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastNameInGenitive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastNameInGenitive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstNameInGenitive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstNameInGenitive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatronymicInGenitive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatronymicInGenitive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consultants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consultants)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
