@model IEnumerable<WorkplaceOfSecretary.Models.Protocol>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Leader.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meeting.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastNameInDative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastNameInGenitive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstNameInGenitive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatronymicInGenitive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consultants)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Leader.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meeting.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastNameInDative)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastNameInGenitive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstNameInGenitive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatronymicInGenitive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consultants)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
