@model WorkplaceOfSecretary.Models.Student

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление студента</h2>
<p class="error">@ViewBag.ErrorMessage</p>
<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Номер группы:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.NumberOfGroup)
        </dd>

        <dt>
            @Html.DisplayName("Фамилия:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayName("Имя:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Отчество:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayName("Средний балл:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageScore)
        </dd>

        <dt>
            @Html.DisplayName("Иностранец:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foreigner)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("К списку студентов", "Index", "Student", null, new { @class = "btn btn-default btn-radius" })
        <input type="submit" value="Удалить" class="btn btn-danger btn-radius" />
    </div>
    }
</div>
