@model WorkplaceOfSecretary.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Информация о студенте</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Номер группы:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.NumberOfGroup)
        </dd>

        <dt>
            @Html.DisplayName("Фамилия:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayName("Имя:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Отчество:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayName("Средний балл:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageScore)
        </dd>

        <dt>
            @Html.DisplayName("Иностранец:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foreigner)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("К списку студентов", "Index", "Student", null, new { @class = "btn btn-default btn-radius" })
    @Html.ActionLink("Редактировать", "Edit", "Student", new { id = Model.ID }, new { @class = "btn btn-default btn-radius" })
</p>
