@model WorkplaceOfSecretary.Models.Employee

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление преподавателя</h2>
<p class="error">@ViewBag.ErrorMessage</p>
<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Степень")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree.NameOfDegree)
        </dd>

        <dt>
            @Html.DisplayName("Звание")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rank.NameOfRank)
        </dd>

        <dt>
            @Html.DisplayName("Фамилия")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayName("Имя")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Отчество")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayName("Фамилия в родительном падеже")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastNameInGenitive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("К списку комиссий", "Index", "Employee", null, new { @class = "btn btn-default btn-radius" })
        <input type="submit" value="Удалить" class="btn btn-danger" />
    </div>
    }
</div>
