@model WorkplaceOfSecretary.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Информация о преподавателе</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Степень")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree.NameOfDegree)
        </dd>

        <dt>
            @Html.DisplayName("Звание")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rank.NameOfRank)
        </dd>

        <dt>
            @Html.DisplayName("Фамилия")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayName("Имя")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Отчество")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayName("Фамилия в родительном падеже")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastNameInGenitive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("К списку преподавателей", "Index", "Employee", null, new { @class = "btn btn-default btn-radius" })
    @Html.ActionLink("Изменить", "Edit", "Employee", new { id = Model.ID }, new { @class = "btn btn-default btn-radius" })
</p>
