@model IEnumerable<WorkplaceOfSecretary.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Список преподавателей</h2>

<p>
    @Html.ActionLink("Добавить преподавателя", "Create", "Employee", null, new { @class = "btn btn-success btn-radius" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Фамилия")
        </th>
        <th>
            @Html.DisplayName("Имя")
        </th>
        <th>
            @Html.DisplayName("Отчество")
        </th>
        <th>
            @Html.DisplayName("Фамилия в родительном падеже")
        </th>
        <th>
            @Html.DisplayName("Звание")
        </th>
        <th>
            @Html.DisplayName("Степень")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patronymic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastNameInGenitive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rank.NameOfRank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Degree.NameOfDegree)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", "Employee", new { id = item.ID }, new { @class = "btn btn-default btn-radius" })
            @Html.ActionLink("Подробнее", "Details", "Employee", new { id = item.ID }, new { @class = "btn btn-default btn-radius" })
            @Html.ActionLink("Удалить", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-radius" })
        </td>
    </tr>
}

</table>
